{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to facebook</h1>
            <p>You are on your Dashboard</p>
        </div>
    </div>	
</div>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to facebook</h1>
            <p>You are on your Dashboard</p>
        </div>
    </div>	
</div>


<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>



</ul>
</nav>
{% endblock %}